html {
    font-size: 20px;
}

.titulo_principal {
    color: rgb(255, 255, 255);
    font-family: secundaria_font;
    font-size: 20vw;
    margin: 0;
}

.subtitulo_principal {
    color: rgb(255, 255, 255);
    font-family: secundaria_font;
    font-size: 12vw;
    margin: 0;
    text-align: center;
}

.ocupacion_principal {
    color: rgb(255, 255, 255);
    font-family: secundaria_font;
    font-size: 7vw;
    margin: 0;
}
.parrafo_principal {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    margin: 0;
    text-align: center;
}

.icon_tecnologias {
    width: 30vw;
}

.card-title {
    font-size: 8vw;
}

.card-text {
    font-size: 4vw;
}

.btn_proyecto {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    &:focus, &:hover {
        color: #fff;
    }

    &:focus:after, &:hover:after {
        width: 100%;
        left: 0;
    }

    &:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;  
    }
  }
