.logo {
    width: 90px;
}

.offcanvas {
    background: url(../../resources/img/background/background_menu.svg);
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: end !important;
    a {
        color: #fff;
        font-size: 1.2em;
    }
}

.offcanvas-body {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media screen and (min-width: 1024px) {
    .offcanvas {
        background: none;
    }

    .icon_menu, .icon_close {
        display: none;
    }

    .offcanvas-header {
        display: none !important;
    }

    .offcanvas-body {
        justify-content: end;
    }
}